.wrapper {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}
.contact-first__header {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
}
/* @media only screen and (min-width: 981px) {
  .wrapper {
    padding: 0rem 5rem;
  }
} */
@media only screen and (max-width: 981px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 680px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
