/* Responsiveness */
/* NEWLY DESIGNED */
@font-face {
  src: url("../../public/fonts/Tales\ of\ Scare\ FX.ttf");
  font-family: tales-of-scare;
}
@font-face {
  font-family: zombie;
  src: url("../../public/fonts/ZOMBIES\ REBORN.ttf");
}
@font-face {
  font-family: lethal-slime;
  src: url("../../public/fonts/Lethal\ Slime.ttf");
}
@font-face {
  font-family: bates-shower;
  src: url("../../public/fonts/Bates\ Shower.ttf");
}
.row-outer {
  background-image: linear-gradient(black 14%, rgba(255, 0, 0, 0.297)),
    url("../../public/skull.jpg");
  background-attachment: fixed;
  height: 100vh;
}

.home-main-div {
  text-align: center;
  height: 100vh;
  /* padding: 5rem; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
h1,
h3 {
  font-size: 30px;
  font-family: bates-shower;
  margin-bottom: 4rem;
  color: red;
}
.animated-h3 {
  color: wheat;
}
.animated-text {
  font-family: bates-shower;
  font-size: 130px;
  color: white;
}

.next-content-holder {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.831);
  padding: 5rem;
}
.hall {
  color: black;
}
.image-of-hall {
  text-align: center;
}
.image-of-hall img {
  height: 300px;
  border-radius: 50%;
  border: 4px solid black;
}
.about-hall {
  text-align: left;
  font-size: 1.25rem;
  font-family: Lato;
  letter-spacing: 2px;
  color: wheat;
}
.about-hall-outer {
  display: flex;
  align-items: center;
}
.wolfame {
  color: red;
}
.last-content-holder {
  text-align: center;
  padding: 5rem;
  color: red;
  background-color: rgba(0, 0, 0, 0.779);
}
.about-wolfame {
  text-align: right;
  color: white;
  font-size: 1.25rem;
  font-family: Lato;
  letter-spacing: 2px;
}

.image-of-wolfame img {
  height: 300px;
  border-radius: 50%;
  border: 4px solid red;
}
.image-of-wolfame {
  text-align: center;
}
/* Responsiveness */
@media screen and (max-width: 576px) {
  .row-outer {
    height: 80vh;
  }
  .home-main-div {
    height: 80vh;
  }
  .image-of-hall img {
    width: 200px;
    height: 200px;
  }
  .image-of-wolfame {
    margin-top: 1rem;
  }
  .image-of-wolfame img {
    width: 200px;
    height: 200px;
  }
  .about-hall {
    font-size: 1rem;
    text-align: center;
  }
  .about-wolfame {
    font-size: 1rem;
    text-align: center;
  }
  .next-content-holder {
    padding: 1rem;
    margin: 0 auto;
  }
  .animated-text {
    font-size: 50px;
  }
  .last-content-holder {
    padding: 1rem;
  }
  h1,
  h3 {
    font-size: 1rem;
    font-family: bates-shower;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: red;
  }
  .animated-h3 {
    margin-top: 2rem;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .row-outer {
    height: 80vh;
  }
  .home-main-div {
    height: 80vh;
  }
  .image-of-hall img {
    width: 200px;
    height: 200px;
  }
  .image-of-wolfame {
    margin-top: 1rem;
  }
  .image-of-wolfame img {
    width: 200px;
    height: 200px;
  }
  .about-hall {
    font-size: 1.25rem;
    text-align: center;
  }
  .about-wolfame {
    font-size: 1.25rem;
    text-align: center;
  }
  .next-content-holder {
    padding: 1rem;
    margin: 0 auto;
  }
  .animated-text {
    font-size: 80px;
  }
  .last-content-holder {
    padding: 1rem;
  }
  h1,
  h3 {
    font-size: 1.5rem;
    font-family: bates-shower;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: red;
  }
  .animated-h3 {
    margin-top: 2rem;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .row-outer {
    height: 80vh;
  }
  .home-main-div {
    height: 80vh;
  }
  .image-of-hall img {
    width: 300px;
    height: 300px;
  }
  .image-of-wolfame {
    margin-top: 1rem;
  }
  .image-of-wolfame img {
    width: 300px;
    height: 300px;
  }
  .about-hall {
    font-size: 1.25rem;
    text-align: left;
  }
  .about-wolfame {
    font-size: 1.25rem;
    text-align: right;
  }
  .next-content-holder {
    padding: 1rem;
    margin: 0 auto;
  }
  .animated-text {
    font-size: 120px;
  }
  .last-content-holder {
    padding: 1rem;
  }
  h1,
  h3 {
    font-size: 1.75rem;
    font-family: bates-shower;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: red;
  }
  .animated-h3 {
    margin-top: 2rem;
  }
}
